body {
	background-color: #201e22;
	background-image: url("../images/rockbackground.jpg");
	margin: 0 auto;
	text-align: center;
	font-family: "Fredericka the Great", sans-serif;
}
/*h1 for header*/
h1 {
	color: #4F738B;
	font-size: 70px;
	letter-spacing: 5px;
	text-shadow: 3px 3px 3px #F6D294;
}
/*h2 for results and directions*/
/*h3 for player names and wins/losses*/
/*h4 for choices*/
h4 {
	border: 2px solid #314876;
	border-radius: 5px;
	padding: 5px;
	margin: 5px;
}

h4:hover {
	color: #F6D294;
	cursor: pointer;
}

#playerName, #chatText{
	font-size: 20px;
	color: #4F738B;
	border: 5px solid #314876;
}

#startButton, #chatSend {
	padding: 5px 20px;
	background-color: #4F738B;
	border-radius: 5px;
	font-size: 20px;
}

#startButton {
	border: 5px solid #314876;
}

#startButton:hover, #chatSend:hover {
	color: #F6D294;
}

#player1Area, #resultsArea, #player2Area {
	height: 270px;
	border: 5px solid #314876;
	background-color: #4F738B;
	margin: 50px 20px;
}

#choices1, #choices2 {
	height: 150px;
}

#chatArea {
	height: 200px;
	border: 5px solid #F6D294;
	background-color: #4F738B;	
	margin-bottom: 20px;
}

#chatText {
	width: 500px;
	border: 5px solid #F6D294;
}

#chatSend {
	border: 5px solid #F6D294;
}